*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #e7750c;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    color: white;
    /* z-index: 10; */
  }

  header h1{
    color: black;
    display: flex;
    align-items: center;
  }

  /* header div{
    background-color: #248232;
    color: white;
    display: flex;
    justify-content: space-between;
  } */

  header nav{
    background-color: #e7750c;
    padding: 1rem;
    display: flex;
  }

  header nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    gap: 2rem;
  }

  /* .nav-links {
    list-style: none;
    display: none; 
    flex-direction: column;
  } */
  
  .nav-links li {
    margin: 10px 0;
  }

  /* nav a:hover{
    transform: scale(1.1);
    color: #F7FA25;
  }
   */
  .nav-links a {
    color: black;
    text-decoration: none;
    font-size: 18px;
  }
  
  /* .hamburger {
    display: flex;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
     margin-left: auto;
  } */
  
  /* .hamburger .line {
    width: 30px;
    height: 3px;
    background: white;
  } */

  /* .nav-links.active{
    display: flex;
  } */

/* Estilizando o main */
h1, h2,#footer, nav a{
    font-family: "Lancelot", serif;
  }

  p{
    font-family: "Roboto", serif;
  }
h3{
    font-family: "quicksand";
}

main{
    text-align: center;
}

main div{
    padding: 1em;
    margin: 1rem;
}


/* Estilizando o footer */
footer{
    background-color: #e7750c;
    padding: 2.1em;
    text-align: center;
  }
  
  footer #footer{
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;
    font-size: large;
    color: black;
  }
  
  footer #lastModified{
    color: black;
  }